In [1]:
print ("hello world")

hello world

In [2]:
import pandas as pd

In [3]:
dataframe1 = get_price('000009.XSHE',start_date='2018-04-03', end_date='2018-04-20', frequency='daily')

In [4]:
dataframe1

            open  close  high   low      volume         money
2018-04-03  4.96   5.13  5.15  4.89  38892243.0  1.964467e+08
2018-04-04  5.10   5.18  5.23  5.08  34434105.0  1.778433e+08
2018-04-09  5.18   5.26  5.26  5.11  35265414.0  1.832740e+08
2018-04-10  5.25   5.20  5.26  5.12  30222500.0  1.565214e+08
2018-04-11  5.21   5.16  5.21  5.15  16611921.0  8.598230e+07
2018-04-12  5.18   5.18  5.22  5.13  20929878.0  1.082082e+08
2018-04-13  5.18   5.08  5.21  5.06  20612947.0  1.056886e+08
2018-04-16  5.20   5.20  5.38  5.17  42610603.0  2.233821e+08
2018-04-17  5.20   4.99  5.20  4.99  27762249.0  1.411712e+08
2018-04-18  5.03   5.06  5.08  4.90  17673243.0  8.846467e+07
2018-04-19  5.03   5.05  5.18  5.03  16652565.0  8.486182e+07
2018-04-20  5.02   4.97  5.08  4.94  14540087.0  7.270285e+07

In [5]:
dataframe1.head()

            open  close  high   low      volume         money
2018-04-03  4.96   5.13  5.15  4.89  38892243.0  1.964467e+08
2018-04-04  5.10   5.18  5.23  5.08  34434105.0  1.778433e+08
2018-04-09  5.18   5.26  5.26  5.11  35265414.0  1.832740e+08
2018-04-10  5.25   5.20  5.26  5.12  30222500.0  1.565214e+08
2018-04-11  5.21   5.16  5.21  5.15  16611921.0  8.598230e+07

In [6]:
dataframe1.tail()

            open  close  high   low      volume         money
2018-04-16  5.20   5.20  5.38  5.17  42610603.0  2.233821e+08
2018-04-17  5.20   4.99  5.20  4.99  27762249.0  1.411712e+08
2018-04-18  5.03   5.06  5.08  4.90  17673243.0  8.846467e+07
2018-04-19  5.03   5.05  5.18  5.03  16652565.0  8.486182e+07
2018-04-20  5.02   4.97  5.08  4.94  14540087.0  7.270285e+07

In [11]:
panel1 = get_price(['000001.XSHE','000009.XSHE'],start_date='2018-04-03', end_date='2018-04-07', frequency='daily',panel=False)

In [13]:
panel1

        time         code   open      ...         low       volume         money
0 2018-04-03  000001.XSHE  10.33      ...       10.24   91391297.0  9.422378e+08
1 2018-04-04  000001.XSHE  10.41      ...       10.33  164416770.0  1.737259e+09
2 2018-04-03  000009.XSHE   4.96      ...        4.89   38892243.0  1.964467e+08
3 2018-04-04  000009.XSHE   5.10      ...        5.08   34434105.0  1.778433e+08

[4 rows x 8 columns]

In [16]:
dataframe1 = history(15, unit='1d', field='close', security_list='000009.XSHE', df=True, skip_paused=False, fq='pre')

In [17]:
dataframe1

            000009.XSHE
2020-04-22         6.28
2020-04-23         6.29
2020-04-24         6.17
2020-04-27         6.42
2020-04-28         6.53
2020-04-29         6.28
2020-04-30         6.56
2020-05-06         6.74
2020-05-07         7.13
2020-05-08         7.43
2020-05-11         7.30
2020-05-12         7.34
2020-05-13         7.36
2020-05-14         7.12
2020-05-15         7.24

In [18]:
dataframe1 = history(3, unit='1d', field='high', security_list=['000001.XSHE','000009.XSHE',], df=False)
print("两只股票近三日的最高价信息:",dataframe1)
print("平安银行(000001)的后三条最高价信息:",dataframe1['000001.XSHE'])
print("平安银行(000001)最新的最高价信息:",dataframe1['000001.XSHE'][0])
print("平安银行(000001)近三日的最高价的和:",dataframe1['000001.XSHE'].sum())
print("平安银行(000001)近三日的最高价的平均价:",dataframe1['000001.XSHE'].mean())

两只股票近三日的最高价信息: {'000001.XSHE': array([13.78, 13.59, 13.43]), '000009.XSHE': array([7.44, 7.43, 7.37])}
平安银行(000001)的后三条最高价信息: [13.78 13.59 13.43]
平安银行(000001)最新的最高价信息: 13.78
平安银行(000001)近三日的最高价的和: 40.8
平安银行(000001)近三日的最高价的平均价: 13.6

In [36]:
dataframe1 = attribute_history('000009.XSHE',1000, '1d', ('open', 'close', 'high', 'low', 'avg', 'low_limit','factor'),True,True,'pre')

In [37]:
dataframe1

            open  close  high   low   avg  low_limit    factor
2016-04-07  9.04   9.02  9.40  8.99  9.20       8.12  0.608942
2016-04-08  8.85   8.75  8.93  8.53  8.73       8.12  0.608942
2016-04-11  8.82   8.79  9.02  8.77  8.89       7.87  0.608942
2016-04-12  8.75   8.69  8.87  8.53  8.67       7.91  0.608942
2016-04-13  8.80   8.90  9.06  8.80  8.94       7.82  0.608942
2016-04-14  8.96   8.90  9.01  8.82  8.89       8.01  0.608942
2016-04-15  8.95   8.75  8.97  8.65  8.76       8.01  0.608942
2016-04-18  8.65   8.53  8.65  8.45  8.54       7.87  0.608942
2016-04-19  8.59   8.90  8.99  8.59  8.80       7.67  0.608942
2016-04-20  8.95   8.43  8.95  8.20  8.55       8.01  0.608942
2016-04-21  8.34   8.33  8.73  8.31  8.49       7.59  0.608942
2016-04-22  8.28   8.42  8.45  8.12  8.31       7.50  0.608942
2016-04-25  8.37   8.21  8.37  8.13  8.24       7.58  0.608942
2016-04-26  8.20   8.33  8.38  8.17  8.28       7.39  0.608942
2016-04-27  8.39   8.40  8.59  8.34  8.46       7.50  0.608942
2016-04-28  8.42   8.63  8.68  8.35  8.54       7.56  0.608942
2016-04-29  8.49   8.33  8.51  8.25  8.36       7.76  0.608942
2016-05-03  8.28   8.62  8.63  8.17  8.45       7.50  0.608942
2016-05-04  8.53   8.50  8.62  8.45  8.53       7.76  0.608942
2016-05-05  8.48   8.53  8.60  8.45  8.52       7.65  0.608942
2016-05-06  8.54   8.02  8.56  8.02  8.28       7.68  0.608942
2016-05-09  7.92   7.52  7.96  7.48  7.65       7.22  0.608942
2016-05-10  7.55   7.54  7.71  7.48  7.57       6.77  0.608942
2016-05-11  7.63   7.48  7.65  7.45  7.54       6.79  0.608942
2016-05-12  7.37   7.57  7.58  7.06  7.33       6.73  0.608942
2016-05-13  7.48   7.48  7.62  7.39  7.51       6.81  0.608942
2016-05-16  7.46   7.68  7.75  7.31  7.58       6.73  0.608942
2016-05-17  7.68   7.66  7.82  7.59  7.70       6.92  0.608942
2016-05-18  7.61   7.37  7.62  7.25  7.39       6.89  0.608942
2016-05-19  7.39   7.39  7.56  7.36  7.46       6.64  0.608942
...          ...    ...   ...   ...   ...        ...       ...
2020-03-31  6.04   5.88  6.04  5.88  5.95       5.34  1.000000
2020-04-01  5.94   6.07  6.28  5.93  6.11       5.29  1.000000
2020-04-02  6.02   6.28  6.28  5.98  6.15       5.46  1.000000
2020-04-03  6.32   6.36  6.48  6.12  6.26       5.65  1.000000
2020-04-07  6.46   6.48  6.54  6.37  6.44       5.72  1.000000
2020-04-08  6.39   6.37  6.46  6.34  6.39       5.83  1.000000
2020-04-09  6.43   6.39  6.49  6.38  6.43       5.73  1.000000
2020-04-10  6.44   6.18  6.44  6.13  6.27       5.75  1.000000
2020-04-13  6.13   6.03  6.14  5.98  6.04       5.56  1.000000
2020-04-14  6.10   6.34  6.37  6.10  6.27       5.43  1.000000
2020-04-15  6.39   6.30  6.46  6.29  6.38       5.71  1.000000
2020-04-16  6.25   6.29  6.35  6.22  6.29       5.67  1.000000
2020-04-17  6.35   6.43  6.66  6.33  6.49       5.66  1.000000
2020-04-20  6.49   6.47  6.58  6.34  6.42       5.79  1.000000
2020-04-21  6.45   6.30  6.45  6.20  6.28       5.82  1.000000
2020-04-22  6.22   6.28  6.29  6.19  6.24       5.67  1.000000
2020-04-23  6.32   6.29  6.45  6.27  6.36       5.65  1.000000
2020-04-24  6.28   6.17  6.41  6.14  6.26       5.66  1.000000
2020-04-27  6.39   6.42  6.65  6.33  6.45       5.55  1.000000
2020-04-28  6.67   6.53  6.79  6.35  6.58       5.78  1.000000
2020-04-29  6.40   6.28  6.44  6.21  6.32       5.88  1.000000
2020-04-30  6.38   6.56  6.63  6.38  6.54       5.65  1.000000
2020-05-06  6.45   6.74  6.77  6.41  6.65       5.90  1.000000
2020-05-07  6.72   7.13  7.37  6.60  6.93       6.07  1.000000
2020-05-08  7.04   7.43  7.68  7.03  7.35       6.42  1.000000
2020-05-11  7.46   7.30  7.52  7.23  7.32       6.69  1.000000
2020-05-12  7.30   7.34  7.40  7.13  7.27       6.57  1.000000
2020-05-13  7.23   7.36  7.44  7.10  7.27       6.61  1.000000
2020-05-14  7.28   7.12  7.43  7.10  7.26       6.62  1.000000
2020-05-15  7.19   7.24  7.37  7.13  7.26       6.41  1.000000

[1000 rows x 7 columns]

In [40]:
dataframe1['open']['2018-04-23']

5.0

In [39]:
dataframe1['open'][datetime.date(2018, 4,23)]

5.0

In [41]:
dataframe1['open'][datetime.datetime(2018, 4, 23)]

5.0

In [42]:
dataframe1.iloc[-1]   #昨天的数据信息

open         7.19
close        7.24
high         7.37
low          7.13
avg          7.26
low_limit    6.41
factor       1.00
Name: 2020-05-15 00:00:00, dtype: float64

In [43]:
dataframe1.iloc[-1]['open']  #昨天的开盘价

7.19

In [44]:
dataframe1 = dataframe1[dataframe1['avg'] > 6]   #显示平均价大于6的数据

In [45]:
dataframe1

            open  close  high   low   avg  low_limit    factor
2016-04-07  9.04   9.02  9.40  8.99  9.20       8.12  0.608942
2016-04-08  8.85   8.75  8.93  8.53  8.73       8.12  0.608942
2016-04-11  8.82   8.79  9.02  8.77  8.89       7.87  0.608942
2016-04-12  8.75   8.69  8.87  8.53  8.67       7.91  0.608942
2016-04-13  8.80   8.90  9.06  8.80  8.94       7.82  0.608942
2016-04-14  8.96   8.90  9.01  8.82  8.89       8.01  0.608942
2016-04-15  8.95   8.75  8.97  8.65  8.76       8.01  0.608942
2016-04-18  8.65   8.53  8.65  8.45  8.54       7.87  0.608942
2016-04-19  8.59   8.90  8.99  8.59  8.80       7.67  0.608942
2016-04-20  8.95   8.43  8.95  8.20  8.55       8.01  0.608942
2016-04-21  8.34   8.33  8.73  8.31  8.49       7.59  0.608942
2016-04-22  8.28   8.42  8.45  8.12  8.31       7.50  0.608942
2016-04-25  8.37   8.21  8.37  8.13  8.24       7.58  0.608942
2016-04-26  8.20   8.33  8.38  8.17  8.28       7.39  0.608942
2016-04-27  8.39   8.40  8.59  8.34  8.46       7.50  0.608942
2016-04-28  8.42   8.63  8.68  8.35  8.54       7.56  0.608942
2016-04-29  8.49   8.33  8.51  8.25  8.36       7.76  0.608942
2016-05-03  8.28   8.62  8.63  8.17  8.45       7.50  0.608942
2016-05-04  8.53   8.50  8.62  8.45  8.53       7.76  0.608942
2016-05-05  8.48   8.53  8.60  8.45  8.52       7.65  0.608942
2016-05-06  8.54   8.02  8.56  8.02  8.28       7.68  0.608942
2016-05-09  7.92   7.52  7.96  7.48  7.65       7.22  0.608942
2016-05-10  7.55   7.54  7.71  7.48  7.57       6.77  0.608942
2016-05-11  7.63   7.48  7.65  7.45  7.54       6.79  0.608942
2016-05-12  7.37   7.57  7.58  7.06  7.33       6.73  0.608942
2016-05-13  7.48   7.48  7.62  7.39  7.51       6.81  0.608942
2016-05-16  7.46   7.68  7.75  7.31  7.58       6.73  0.608942
2016-05-17  7.68   7.66  7.82  7.59  7.70       6.92  0.608942
2016-05-18  7.61   7.37  7.62  7.25  7.39       6.89  0.608942
2016-05-19  7.39   7.39  7.56  7.36  7.46       6.64  0.608942
...          ...    ...   ...   ...   ...        ...       ...
2020-03-27  6.29   6.07  6.29  6.06  6.16       5.54  1.000000
2020-04-01  5.94   6.07  6.28  5.93  6.11       5.29  1.000000
2020-04-02  6.02   6.28  6.28  5.98  6.15       5.46  1.000000
2020-04-03  6.32   6.36  6.48  6.12  6.26       5.65  1.000000
2020-04-07  6.46   6.48  6.54  6.37  6.44       5.72  1.000000
2020-04-08  6.39   6.37  6.46  6.34  6.39       5.83  1.000000
2020-04-09  6.43   6.39  6.49  6.38  6.43       5.73  1.000000
2020-04-10  6.44   6.18  6.44  6.13  6.27       5.75  1.000000
2020-04-13  6.13   6.03  6.14  5.98  6.04       5.56  1.000000
2020-04-14  6.10   6.34  6.37  6.10  6.27       5.43  1.000000
2020-04-15  6.39   6.30  6.46  6.29  6.38       5.71  1.000000
2020-04-16  6.25   6.29  6.35  6.22  6.29       5.67  1.000000
2020-04-17  6.35   6.43  6.66  6.33  6.49       5.66  1.000000
2020-04-20  6.49   6.47  6.58  6.34  6.42       5.79  1.000000
2020-04-21  6.45   6.30  6.45  6.20  6.28       5.82  1.000000
2020-04-22  6.22   6.28  6.29  6.19  6.24       5.67  1.000000
2020-04-23  6.32   6.29  6.45  6.27  6.36       5.65  1.000000
2020-04-24  6.28   6.17  6.41  6.14  6.26       5.66  1.000000
2020-04-27  6.39   6.42  6.65  6.33  6.45       5.55  1.000000
2020-04-28  6.67   6.53  6.79  6.35  6.58       5.78  1.000000
2020-04-29  6.40   6.28  6.44  6.21  6.32       5.88  1.000000
2020-04-30  6.38   6.56  6.63  6.38  6.54       5.65  1.000000
2020-05-06  6.45   6.74  6.77  6.41  6.65       5.90  1.000000
2020-05-07  6.72   7.13  7.37  6.60  6.93       6.07  1.000000
2020-05-08  7.04   7.43  7.68  7.03  7.35       6.42  1.000000
2020-05-11  7.46   7.30  7.52  7.23  7.32       6.69  1.000000
2020-05-12  7.30   7.34  7.40  7.13  7.27       6.57  1.000000
2020-05-13  7.23   7.36  7.44  7.10  7.27       6.61  1.000000
2020-05-14  7.28   7.12  7.43  7.10  7.26       6.62  1.000000
2020-05-15  7.19   7.24  7.37  7.13  7.26       6.41  1.000000

[509 rows x 7 columns]

In [46]:
dataframe1['open'] = dataframe1['open']/dataframe1['factor']    #让open列都跟factor列相除, 把开盘价格都转化成原始价格

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [ ]:
set_universe(['000001.XSHE'])
def handle_data(context, data):
    current_data = get_current_data()
    print(current_data)
    print (current_data['000001.XSHE'])
    print(current_data['000001.XSHE'].paused)#查询股票当天是否停牌
    print (current_data['000001.XSHE'].high_limit) #获取当天的涨停价

In [55]:
stocks = get_index_stocks('000016.XSHG')

In [57]:
stocks

['600000.XSHG',
 '600009.XSHG',
 '600016.XSHG',
 '600028.XSHG',
 '600030.XSHG',
 '600031.XSHG',
 '600036.XSHG',
 '600048.XSHG',
 '600050.XSHG',
 '600104.XSHG',
 '600196.XSHG',
 '600276.XSHG',
 '600309.XSHG',
 '600340.XSHG',
 '600519.XSHG',
 '600547.XSHG',
 '600585.XSHG',
 '600690.XSHG',
 '600703.XSHG',
 '600837.XSHG',
 '600887.XSHG',
 '601012.XSHG',
 '601066.XSHG',
 '601088.XSHG',
 '601111.XSHG',
 '601138.XSHG',
 '601166.XSHG',
 '601186.XSHG',
 '601211.XSHG',
 '601236.XSHG',
 '601288.XSHG',
 '601318.XSHG',
 '601319.XSHG',
 '601328.XSHG',
 '601336.XSHG',
 '601390.XSHG',
 '601398.XSHG',
 '601601.XSHG',
 '601628.XSHG',
 '601668.XSHG',
 '601688.XSHG',
 '601766.XSHG',
 '601818.XSHG',
 '601857.XSHG',
 '601888.XSHG',
 '601939.XSHG',
 '601988.XSHG',
 '601989.XSHG',
 '603259.XSHG',
 '603993.XSHG']

In [ ]:
# 上证指数   000001.xshg
# 沪深300    000300.xshg
# A股指数    000002.xshg
# 上证50     000016.xshg

In [59]:
stocks = get_industry_stocks('C36')
len(stocks)

132

In [60]:
stocks = get_concept_stocks('GN036', date='2019-04-16')
print(stocks)

['000791.XSHE', '000836.XSHE', '000862.XSHE', '000958.XSHE', '002080.XSHE', '002202.XSHE', '002204.XSHE', '002531.XSHE', '300040.XSHE', '300129.XSHE', '300169.XSHE', '300185.XSHE', '300443.XSHE', '300569.XSHE', '300690.XSHE', '600163.XSHG', '600192.XSHG', '600290.XSHG', '600416.XSHG', '600458.XSHG', '600483.XSHG', '600875.XSHG', '601016.XSHG', '601218.XSHG', '601558.XSHG', '601619.XSHG', '603063.XSHG', '603693.XSHG']

In [61]:
print("代码502050的证券名：",get_security_info('502050.XSHG').display_name)

代码502050的证券名： 上证50B

In [62]:
print("代码502050的证券缩写简称：",get_security_info('502050.XSHG').name)
print("代码502050的证券上市日期：",get_security_info('502050.XSHG').start_date)
print("代码502050的证券退市日期：",get_security_info('502050.XSHG').end_date)
print("代码502050的证券类型：",get_security_info('502050.XSHG').type)
print("代码502050的分级基金的母基金：",get_security_info('502050.XSHG').parent)

代码502050的证券缩写简称： SZ50B
代码502050的证券上市日期： 2015-04-27
代码502050的证券退市日期： 2200-01-01
代码502050的证券类型： fjb
代码502050的分级基金的母基金： 502048.XSHG

In [ ]:
# fjb  分级基金