In [1]:
import pandas as pd

In [ ]:
#营业收入同比增长率

In [8]:
dataframe1 = get_fundamentals( query(indicator).filter(indicator.inc_revenue_year_on_year > 800), 
                              date='2018-08-05')

In [10]:
dataframe1.head()

         id                  ...                  inc_net_profit_to_shareholders_annual
0  26389594                  ...                                               -41.4598
1  26409027                  ...                                               -93.9031
2  26567186                  ...                                               -91.8893
3  26627147                  ...                                              -155.0557
4  26961853                  ...                                               -78.5133

[5 rows x 36 columns]

In [5]:
dataframe1.columns

Index(['id', 'code', 'day', 'pubDate', 'statDate', 'eps', 'adjusted_profit',
       'operating_profit', 'value_change_profit', 'roe', 'inc_return', 'roa',
       'net_profit_margin', 'gross_profit_margin', 'expense_to_total_revenue',
       'operation_profit_to_total_revenue', 'net_profit_to_total_revenue',
       'operating_expense_to_total_revenue', 'ga_expense_to_total_revenue',
       'financing_expense_to_total_revenue', 'operating_profit_to_profit',
       'invesment_profit_to_profit', 'adjusted_profit_to_profit',
       'goods_sale_and_service_to_revenue', 'ocf_to_revenue',
       'ocf_to_operating_profit', 'inc_total_revenue_year_on_year',
       'inc_total_revenue_annual', 'inc_revenue_year_on_year',
       'inc_revenue_annual', 'inc_operation_profit_year_on_year',
       'inc_operation_profit_annual', 'inc_net_profit_year_on_year',
       'inc_net_profit_annual', 'inc_net_profit_to_shareholders_year_on_year',
       'inc_net_profit_to_shareholders_annual'],
      dtype='object')

In [6]:
dataframe1.count()

id                                             21
code                                           21
day                                            21
pubDate                                        21
statDate                                       21
eps                                            21
adjusted_profit                                21
operating_profit                               21
value_change_profit                            17
roe                                            21
inc_return                                     21
roa                                            21
net_profit_margin                              21
gross_profit_margin                            21
expense_to_total_revenue                       21
operation_profit_to_total_revenue              21
net_profit_to_total_revenue                    21
operating_expense_to_total_revenue             20
ga_expense_to_total_revenue                    21
financing_expense_to_total_revenue             21
operating_profit_to_profit                     21
invesment_profit_to_profit                     17
adjusted_profit_to_profit                      21
goods_sale_and_service_to_revenue              21
ocf_to_revenue                                 21
ocf_to_operating_profit                        21
inc_total_revenue_year_on_year                 21
inc_total_revenue_annual                       21
inc_revenue_year_on_year                       21
inc_revenue_annual                             21
inc_operation_profit_year_on_year              21
inc_operation_profit_annual                    21
inc_net_profit_year_on_year                    21
inc_net_profit_annual                          21
inc_net_profit_to_shareholders_year_on_year    21
inc_net_profit_to_shareholders_annual          21
dtype: int64

In [11]:
#营业收入环比增长率
dataframe1 = get_fundamentals( query(indicator).filter(indicator.inc_revenue_annual > 900), date='2018-08-01')

In [13]:
dataframe1.head(30)

         id                  ...                  inc_net_profit_to_shareholders_annual
0  17445569                  ...                                                16.4887
1  14173008                  ...                                                22.3759
2  15160091                  ...                                                86.9632
3  14823284                  ...                                                89.2954
4  14411308                  ...                                              1304.9900
5  14727332                  ...                                               -32.9357

[6 rows x 36 columns]

In [ ]:
#income  000533.XSHE

In [18]:
#income
q = query(
      income
  ).filter(
      income.code == '000533.XSHE'
  )
df = get_fundamentals(q, '2018-08-01')
  # 打印出总市值
df

         id        ...         ci_minority_owners
0  14901934        ...                  9733941.0

[1 rows x 43 columns]

In [19]:
#income
q = query(
      income
  ).filter(
      income.code == '000533.XSHE'
  )
df = get_fundamentals(q, '2017-08-01')
  # 打印出总市值
df

        id        ...         ci_minority_owners
0  7616845        ...                 3649191.75

[1 rows x 43 columns]

In [ ]:
#净利润同比

In [20]:
import pandas as pd
dataframe1 = get_fundamentals( query(indicator).filter(
indicator.inc_net_profit_year_on_year > 800,
indicator.inc_revenue_year_on_year > 900,
indicator.inc_revenue_annual > 500,
                              )
                              , date='2018-08-01')
dataframe1['code']

0    300423.XSHE
1    600083.XSHG
Name: code, dtype: object

In [21]:
print("代码300423的证券名：",get_security_info('300423.XSHE').display_name)

代码300423的证券名： 鲁亿通

In [22]:
print("代码300423的证券名：",get_security_info('600083.XSHG').display_name)

代码300423的证券名： *ST博信

In [ ]:
#净利润环比

In [24]:

dataframe1 = get_fundamentals( query(indicator).filter(
indicator.inc_net_profit_annual > 300,
indicator.inc_revenue_annual > 400,
                              )
                              , date='2018-08-01')
dataframe1['code']

0    000560.XSHE
1    002470.XSHE
2    002499.XSHE
3    002575.XSHE
4    300423.XSHE
5    600641.XSHG
6    600647.XSHG
Name: code, dtype: object

In [ ]:
#销售净利率

In [25]:
dataframe1 = get_fundamentals( query(indicator).filter(
indicator.net_profit_margin > 180,
indicator.operation_profit_to_total_revenue > 140,
                              )
                              , date='2018-08-01')
dataframe1['code']

0    000809.XSHE
1    300251.XSHE
2    300272.XSHE
3    600345.XSHG
4    600555.XSHG
5    600674.XSHG
Name: code, dtype: object

In [ ]:
#销售毛利率

In [ ]:
dataframe1 = get_fundamentals( query(indicator).filter(
indicator.gross_profit_margin > 80,
indicator.operation_profit_to_total_revenue > 90,
                              )
                              , date='2018-08-01')
dataframe1['code']